In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from nltk.corpus import stopwords
from langdetect import detect
from sklearn.utils import shuffle
#from nltk.stem.porter import PorterStemmer

Data Processing

In [3]:
#importing the datasets
data1_fake = pd.read_csv('./Data_RealFake/Dataset1/Fake1.csv')
data1_true = pd.read_csv('./Data_RealFake/Dataset1/True1.csv')

dtset1_fake = pd.DataFrame(data1_fake)
dtset1_true = pd.DataFrame(data1_true)

In [4]:
dtset1_fake['label']=0
dtset1_true['label']=1

pd.DataFrame.head(dtset1_fake)
pd.DataFrame.head(dtset1_true)

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [5]:
print(dtset1_fake.shape)
print(dtset1_true.shape)

(23481, 5)
(21417, 5)

In [6]:
dataset1 = pd.concat([dtset1_fake, dtset1_true])
pd.DataFrame.head(dataset1)

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [7]:
dataset1.label.value_counts()

0    23481
1    21417
Name: label, dtype: int64

In [8]:
dataset1 = shuffle(dataset1)
dataset1[:10]

,title,text,subject,date,label
6272,"Despite showman reputation, Trump inauguration...",WASHINGTON (Reuters) - Donald Trump made his n...,politicsNews,"January 17, 2017",1
6450,Trevor Noah And The Daily Show Correspondents...,The Republican Party is busy with a pitted civ...,News,"May 10, 2016",0
1419,Trump Administration Surrenders; Staffers Are...,The last two weeks of Donald Trump s presidenc...,News,"May 18, 2017",0
10236,Trump questions U.S. financial backing for NATO,WASHINGTON (Reuters) - The United States shoul...,politicsNews,"March 21, 2016",1
7772,Pro-Trump group ad seeks to pit Michelle Obama...,WASHINGTON (Reuters) - A Super PAC backing Re...,politicsNews,"October 18, 2016",1
6751,Eight Family Members Shot And Killed ‘Executi...,"Eight members of a family, seven adults and on...",News,"April 23, 2016",0
17359,U.S.-led anti-Islamic State coalition says Ira...,BAGHDAD (Reuters) - The U.S.-led anti-Islamic ...,worldnews,"October 16, 2017",1
2628,Trump’s Disastrously-Misspelled Terrorist Att...,When Trump s White House released a list of te...,News,"February 8, 2017",0
9265,"Obama lauds Denver Broncos, Peyton Manning for...",WASHINGTON (Reuters) - President Barack Obama ...,politicsNews,"June 7, 2016",1
5865,Iranian students feel robbed of their American...,DUBAI (Reuters) - The new U.S. immigration cur...,politicsNews,"January 30, 2017",1

In [13]:
#del dataset1["date"]
dataset1

,title,text,label
6272,"Despite showman reputation, Trump inauguration...",WASHINGTON (Reuters) - Donald Trump made his n...,1
6450,Trevor Noah And The Daily Show Correspondents...,The Republican Party is busy with a pitted civ...,0
1419,Trump Administration Surrenders; Staffers Are...,The last two weeks of Donald Trump s presidenc...,0
10236,Trump questions U.S. financial backing for NATO,WASHINGTON (Reuters) - The United States shoul...,1
7772,Pro-Trump group ad seeks to pit Michelle Obama...,WASHINGTON (Reuters) - A Super PAC backing Re...,1
...,...,...,...
920,Trump Condemned By Jewish Leaders In Poland A...,Republicans were crossing their fingers that D...,0
6907,Crowd Boos GOP Governor Off Stage For Not Sup...,It should be the easiest question in America t...,0
2298,"With military discipline imposed, Trump gettin...",WASHINGTON (Reuters) - Donald Trump’s choice o...,1
3628,Trump Royally F*cks Veterans By Considering S...,America s village idiot could soon be in charg...,0
5040,CIA contractors likely source of latest WikiLe...,WASHINGTON (Reuters) - Contractors likely brea...,1